.body-right {
  display: inline-block;
  position: relative;
  width: 100%;
  flex-direction:'column';
 
  height: 100%;
  overflow: 'scroll';
}

.flyout{
  position: relative;
  padding: 6px 10px;
  font-family: 'DINRoundPro' ,sans-serif;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  border-radius: 4px;
  cursor: auto;
  top: -34px;
  left: 0;
}

.s-alert-wrapper{
  height: 0% !important;
}

@media (min-width: 993px){
  #responsive >.left-sidebar {
      display: block!important;
      display:'contents';
       height:'100%';
        overflow:'scroll';
         position: 'relative';
  }
  .menu-button{
      display: none!important;
  }
  
}
@media (max-width: 992px){
  #responsive >.left-sidebar{
      display: none;
  }
  
  .menu-button{
      display: block!important;
      position: absolute;
      margin: 0px;
  }
  #box-shadow-menu {
      position: fixed;
      
      margin: 20px;
      z-index: 9;
      width: 72px;
  height: 72px;
    }
    #box-shadow-menu:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.25em;
      width: 1em;
      height: 0.15em;
      background: black;
      box-shadow: 
        0 0.25em 0 0 black,
        0 0.5em 0 0 black;
    }
    #box-shadow-menu:after{
        content: "";
        position: absolute;
        top: -20px;
        bottom: -10px;
        left: -20px;
        right: -10px;
  }
}
/* custom */
.selfCenter{
  max-width: 60%;
  margin: auto;
}

.fdb-block h1, .fdb-block h2, .fdb-block h3 {
  font-family: "ReplicaStd-Regular";
}

h1, h2, h3 {
  font-family: "ReplicaStd-Regular";
}

p, a, div {  font-family: "DINRoundPro";
}

#hero {
  background-image: url("/Splash.svg");
  background-size: contain;
}

@media (max-width: 767.98px) {
  #hero {
    background-image: url("/MobileSplash.svg");
  }
}

.icon.blue, .Text.blue {
  color: #0064FF;
}

.icon.blue:hover {
  color: #0064FF;
  opacity: .8;
}