body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
  font-family: "exim";
  src: url("./assets/fonts/exim.eot?5iasl4");
  src: url("./assets/fonts/exim.eot?5iasl4#iefix") format("embedded-opentype"),
    url("./assets/fonts/exim.ttf?5iasl4") format("truetype"),
    url("./assets/fonts/exim.woff?5iasl4") format("woff"),
    url("./assets/fonts/exim.svg?5iasl4#exim") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "exim" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-arrowDown:before {
  content: "\e901";
}
.icon-blockmaker:before {
  content: "\e902";
}
.icon-chevronLeft:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-cycle:before {
  content: "\e905";
}
.icon-demotion:before {
  content: "\e906";
}
.icon-filter:before {
  content: "\e907";
}
.icon-governanceCycle:before {
  content: "\e908";
}
.icon-help:before {
  content: "\e909";
}
.icon-home:before {
  content: "\e90a";
}
.icon-listView:before {
  content: "\e90b";
}
.icon-media:before {
  content: "\e90c";
}
.icon-members:before {
  content: "\e90d";
}
.icon-more:before {
  content: "\e90e";
}
.icon-node:before {
  content: "\e90f";
}
.icon-notificationBell:before {
  content: "\e910";
}
.icon-promotion:before {
  content: "\e911";
}
.icon-remove:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e913";
}
.icon-settings:before {
  content: "\e914";
}
.icon-upload:before {
  content: "\e915";
}
.icon-user:before {
  content: "\e916";
}
.icon-vote:before {
  content: "\e917";
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("./assets/fonts/IBMPlexMono.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/IBMPlexMono.woff") format("woff"),
    url("./assets/fonts/IBMPlexMono.ttf") format("truetype"),
    url("./assets/fonts/IBMPlexMono.svg#IBMPlexMono") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexMono-Medium";
  src: url("./assets/fonts/IBMPlexMono-Medium.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/IBMPlexMono-Medium.woff") format("woff"),
    url("./assets/fonts/IBMPlexMono-Medium.ttf") format("truetype"),
    url("./assets/fonts/IBMPlexMono-Medium.svg#IBMPlexMono-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ReplicaStd-Regular";
  src: url("./assets/fonts/ReplicaStd-Regular.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/ReplicaStd-Regular.otf") format("opentype"),
    url("./assets/fonts/ReplicaStd-Regular.woff") format("woff"),
    url("./assets/fonts/ReplicaStd-Regular.ttf") format("truetype"),
    url("./assets/fonts/ReplicaStd-Regular.svg#ReplicaStd-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ReplicaStd-Bold";
  src: url("./assets/fonts/ReplicaStd-Bold.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/ReplicaStd-Bold.otf") format("opentype"),
    url("./assets/fonts/ReplicaStd-Bold.woff") format("woff"),
    url("./assets/fonts/ReplicaStd-Bold.ttf") format("truetype"),
    url("./assets/fonts/ReplicaStd-Bold.svg#ReplicaStd-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DINRoundPro-Medi";
  src: url("./assets/fonts/DINRoundPro-Medi.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/DINRoundPro-Medi.otf") format("opentype"),
    url("./assets/fonts/DINRoundPro-Medi.woff") format("woff"),
    url("./assets/fonts/DINRoundPro-Medi.ttf") format("truetype"),
    url("./assets/fonts/DINRoundPro-Medi.svg#DINRoundPro-Medi") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DINRoundPro";
  src: url("./assets/fonts/DINRoundPro.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/DINRoundPro.otf") format("opentype"),
    url("./assets/fonts/DINRoundPro.woff") format("woff"),
    url("./assets/fonts/DINRoundPro.ttf") format("truetype"),
    url("./assets/fonts/DINRoundPro.svg#DINRoundPro") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: "FontAwesome";
  src: url("./assets/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("./assets/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("./assets/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("./assets/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("./assets/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
    url("./assets/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}